body {
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', Times, serif;
  background-color: #bd6c6c;
  text-align: center;
  color: #ffffff;
}

h1 {
  margin-top: 20px;
  font-size: 48px;
}

img {
  margin: 8px;
  height: auto;
  max-height: 300px;
}

.small img {
  max-height: 200px;
}

video {
  margin-top: 20px;
  max-width: 90%;
  height: auto;
}

/* Hide the checkbox */
#toggleContent {
  display: none;
}

/* Label styled as button */
.toggle-label {
  display: inline-block;
  margin: 20px 0;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 6px;
  background-color: #ffffff;
  color: #bd6c6c;
}

/* Hidden content initially */
.moreContent {
  display: none;
}

/* Show content when checkbox is checked */
#toggleContent:checked ~ .moreContent {
  display: block;
}

a {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
