.yusei-magic-regular {
  font-family: "Yusei Magic", sans-serif;
  font-weight: 400;
  font-style: normal;
}
body {
    margin: 0;
    padding: 0;
    font-family: "Yusei Magic", sans-serif;
    background-color: white;
    color: black;
}

.chickenrice-container {
    width: 100%;
    height: 100%;
    position: relative;
    background: white;
    overflow: hidden;
}

/* Title */
.title {
    width: 384px;
    height: 140px;
    position: absolute;
    left: 528px;
    top: -10px;
    text-align: center;
    font-size: 47px;
    font-weight: 400;
}

/* Images */
.chickenrice-img1 {
    width: 325px;
    height: 313px;
    position: absolute;
    left: 557px;
    top: 91px;
}

.chickenrice-img2 {
    width: 325px;
    height: 313px;
    position: absolute;
    left: 557px;
    top: 404px;
}

.chickenrice-img3 {
    width: 325px;
    height: 313px;
    position: absolute;
    left: 557px;
    top: 711px;
}

/* Directions box */
.directions {
    width: 480px;
    height: 999px;
    position: absolute;
    left: 960px;
    top: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 20px;
    font-weight: 400;
    word-wrap: break-word;
}

/* Ingredients text */
.ingredients {
    width: 603px;
    position: absolute;
    left: -1px;
    top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.8;
    word-wrap: break-word;
}

a {
    color: rgb(0, 0, 0);
    text-decoration: underline;
}