.yusei-magic-regular {
    font-family: "Yusei Magic", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Yusei Magic", sans-serif;
    background-color: white;
    color: black;
}

.prata-container {
    width: 100%;
    height: 100%;
    position: relative;
    background: white;
    overflow: hidden;
    min-height: 1050px;
}

.title {
    width: 384px;
    height: 151px;
    position: absolute;
    left: 528px;
    top: -10px;
    text-align: center;
    font-size: 47px;
    font-weight: 400;
}

.prata-img1 {
    width: 357px;
    height: 357px;
    position: absolute;
    left: 539px;
    top: 71px;
}

.prata-img2 {
    width: 357px;
    height: 357px;
    position: absolute;
    left: 544px;
    top: 382px;
}

.prata-img3 {
    width: 357px;
    height: 357px;
    position: absolute;
    left: 544px;
    top: 692px;
}

.ingredients {
    width: 555px;
    position: absolute;
    left: 0px;
    top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 20px;
    font-weight: 400;
    word-wrap: break-word;
}

.directions {
    width: 480px;
    height: 999px;
    position: absolute;
    left: 960px;
    top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 20px;
    font-weight: 400;
    word-wrap: break-word;
}

a {
    color: black;
    text-decoration: underline;
}

html, body {
    height: 100%;
}
