.yusei-magic-regular {
  font-family: "Yusei Magic", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.cn {
  	width: 100%;
  	height: 1024px;
  	position: filled;
  	overflow: hidden;
  	text-align: left;
  	font-size: 30px;
  	color: #ffffff;
  	font-family: 'Yusei Magic';
    z-index: 2;

}
.mount {
  	position: absolute;
  	top: 756px;
  	left: 870px;
  	width: 273px;
  	height: 182px;
  	object-fit: cover;
    z-index: 1;

}
.mount1 {
  	position: absolute;
  	top: 44px;
  	left: 54px;
  	width: 379px;
  	height: 284px;
  	object-fit: cover;
    z-index: 1;

}
.small {
  	position: absolute;
  	top: 60px;
  	left: 906px;
  	width: 421px;
  	height: 316px;
  	object-fit: cover;
    z-index: 1;
}
.tree {
  	position: absolute;
  	top: 373px;
  	left: 552px;
  	width: 432px;
  	height: 323px;
  	object-fit: cover;
    z-index: 1;
}
.garden {
  	position: absolute;
  	top: 461px;
  	left: 1239px;
  	width: 176px;
  	height: 235px;
  	object-fit: cover;
    z-index: 1;
}
.home {
  	position: absolute;
  	top: 647px;
  	left: 79px;
  	width: 246px;
  	height: 330px;
  	object-fit: cover;
    z-index: 1;
}
.div {
  	position: absolute;
  	top: 94px;
  	left: 495px;
  	display: inline-block;
  	width: 343px;
  	height: 205px;
}

.cn-div {
  	position: absolute;
  	top: 391px;
  	left: 1092px;
  	display: inline-block;
  	width: 183px;
  	height: 183px;
}
.div2 {
  	position: absolute;
  	top: 409px;
  	left: 133px;
  	display: inline-block;
  	width: 343px;
  	height: 205px;
}
.div3 {
  	position: absolute;
  	top: 769px;
  	left: 480px;
  	display: inline-block;
  	width: 343px;
  	height: 205px;
}

.div4 {
    position: absolute;
    top: 300px;
    left: 600px;
    display: inline-block;
    width: 343px;
    height: 205px;
    color: white;
    font-size: 30px;
}

img {
  opacity: 0; 
  transition: opacity 0.3s ease-in-out; 
}

img:hover {
  opacity: 1; 
}

video {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100vw; 
  height: 100vh;
  object-fit: cover; 
  z-index: -1; 
  opacity: 1; 
  pointer-events: auto; 
}

.text {
  position: relative; 
  z-index: 1; 
  color: #fff;
  font-size: 2rem;
  text-align: center;
  margin: 20px; 
}

a {
    color: white;
    text-decoration: underline;
}


