.yusei-magic-regular {
  font-family: "Yusei Magic", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Yusei Magic", sans-serif;
    background-color: white;
    color: black;
}

.satay-container {
    width: 100%;
    height: 100%;
    position: relative;
    background: white;
    overflow: hidden;
    min-height: 1050px
}

.title {
    width: 384px;
    height: 151px;
    position: absolute;
    left: 528px;
    top: -10px;
    text-align: center;
    font-size: 47px;
    font-weight: 400;
}

.satay-img1 {
    width: 323px;
    height: 323px;
    position: absolute;
    left: 563px;
    top: 93px;
}

.satay-img2 {
    width: 323px;
    height: 324px;
    position: absolute;
    left: 563px;
    top: 400px;
}

.satay-img3 {
    width: 323px;
    height: 323px;
    position: absolute;
    left: 554px;
    top: 709px;
}

.directions {
    width: 480px;
    height: 999px;
    position: absolute;
    left: 960px;
    top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 20px;
    font-weight: 400;
    word-wrap: break-word;
}

.ingredients {
    width: 563px;
    position: absolute;
    left: 0px;
    top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.8;
    word-wrap: break-word;
}

a {
    color: rgb(0, 0, 0);
    text-decoration: underline;
}

html, body {
    height: 100%;
}