.yusei-magic-regular {
  font-family: "Yusei Magic", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Yusei Magic", sans-serif;
    background-color: white;
    color: black;
}

.charsiew-container {
    width: 100%;
    height: 100%;
    position: relative;
    background: white;
    overflow: hidden;
    min-height: 1050px

}

.title {
    width: 384px;
    height: 151px;
    position: absolute;
    left: 528px;
    top: -10px;
    text-align: center;
    font-size: 47px;
    font-weight: 400;
}

.charsiew-img1 {
    width: 312px;
    height: 310px;
    position: absolute;
    left: 564px;
    top: 93px;
}

.charsiew-img2 {
    width: 312px;
    height: 311px;
    position: absolute;
    left: 564px;
    top: 403px;
}

.charsiew-img3 {
    width: 312px;
    height: 310px;
    position: absolute;
    left: 564px;
    top: 714px;
}

.directions {
    width: 480px;
    height: 999px;
    position: absolute;
    left: 960px;
    top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 20px;
    font-weight: 400;
    word-wrap: break-word;
}

.ingredients {
    width: 578px;
    position: absolute;
    left: 0px;
    top: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 2;
    word-wrap: break-word;
}

a {
    color: black;
    text-decoration: underline;
}

html, body {
    height: 100%;
}