.yusei-magic-regular {
    font-family: "Yusei Magic", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Yusei Magic", sans-serif;
    background-color: white;
    color: black;
}

.title {
    width: 384px;
    height: 151px;
    position: absolute;
    left: 528px;
    top: -20px;
    text-align: center;
    font-size: 47px;
    font-weight: 400;
}

.kaya-container {
    width: 100%;
    height: 100%;
    position: relative;
    background: white;
    overflow: hidden;
    min-height: 1050px;
}

.kaya-container .Kaya:nth-child(1) {
    width: 384px;
    height: 151px;
    position: absolute;
    left: 528px;
    top: 17px;
    text-align: center;
    font-size: 47px;
    font-weight: 400;
}

.kaya-img1, .kaya-img2, .kaya-img3 {
    width: 314px;
    height: 314px;        /* square images */
    position: absolute;
    object-fit: cover;     /* fill square without distortion */
}

.kaya-img1 { left: 563px; top: 81px; }
.kaya-img2 { left: 563px; top: 389px; }
.kaya-img3 { left: 563px; top: 698px; }

.ingredients {
    width: 559px;
    position: absolute;
    left: 0px;
    top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 2;
    word-wrap: break-word;
}

.directions {
    width: 480px;
    height: 999px;
    position: absolute;
    left: 960px;
    top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 20px;
    font-weight: 400;
    word-wrap: break-word;
}

a {
    color: black;
    text-decoration: underline;
}

html, body {
    height: 100%;
}
